In [1]:
import pandas as pd
df1 = pd.read_csv('ratings_Office_Products.csv', header=None)
df1.head()

                0           1    2           3
0  A2UESEUCI73CBO  0078800242  5.0  1374192000
1  A3BBNK2R5TUYGV  0113000316  5.0  1359417600
2   A5J78T14FJ5DU  0113000316  3.0  1318723200
3  A2P462UH5L6T57  043928631X  5.0  1356912000
4  A2E0X1MWNRTQF4  0439340039  1.0  1379721600

In [2]:
df1.columns = ['reviewer_ID', 'product_ID', 'rating', 'time']
df1.head()

      reviewer_ID  product_ID  rating        time
0  A2UESEUCI73CBO  0078800242     5.0  1374192000
1  A3BBNK2R5TUYGV  0113000316     5.0  1359417600
2   A5J78T14FJ5DU  0113000316     3.0  1318723200
3  A2P462UH5L6T57  043928631X     5.0  1356912000
4  A2E0X1MWNRTQF4  0439340039     1.0  1379721600

In [3]:
df_new = df1.drop(columns=['time'])
df_new = df_new[:100000]
df_new.head()

      reviewer_ID  product_ID  rating
0  A2UESEUCI73CBO  0078800242     5.0
1  A3BBNK2R5TUYGV  0113000316     5.0
2   A5J78T14FJ5DU  0113000316     3.0
3  A2P462UH5L6T57  043928631X     5.0
4  A2E0X1MWNRTQF4  0439340039     1.0

In [4]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   reviewer_ID  100000 non-null  object
 1   product_ID   100000 non-null  object
 2   rating       100000 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.3+ MB

In [5]:
df_new['rating'] = df_new['rating'].astype(int)

In [6]:
df_new.head()

      reviewer_ID  product_ID  rating
0  A2UESEUCI73CBO  0078800242       5
1  A3BBNK2R5TUYGV  0113000316       5
2   A5J78T14FJ5DU  0113000316       3
3  A2P462UH5L6T57  043928631X       5
4  A2E0X1MWNRTQF4  0439340039       1

In [7]:
from surprise import Reader, Dataset
reader = Reader()
data = Dataset.load_from_df(df_new, reader)

In [8]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  89228

Number of items:  6948

In [9]:
# Because we have fewer items than users, it will be more efficient to calculate ite-item similarity.
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [10]:
## Perform a gridsearch with SVD
# ‚è∞ This cell may take several minutes to run
params = {'n_factors': [20, 50, 100],
         'reg_all': [0.02, 0.05, 0.1]}
g_s_svd = GridSearchCV(SVD, param_grid=params, n_jobs=-1)
g_s_svd.fit(data)

In [11]:
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 1.2730250229047448, 'mae': 0.9997707676665097}
{'rmse': {'n_factors': 20, 'reg_all': 0.05}, 'mae': {'n_factors': 20, 'reg_all': 0.02}}

In [12]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':False})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

In [13]:
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([1.39019773, 1.38029746, 1.3870174 , 1.37498102, 1.37987063]))
('test_mae', array([1.10872505, 1.10065479, 1.10623572, 1.10069054, 1.10161448]))
('fit_time', (3.86552095413208, 3.7933268547058105, 3.72072696685791, 3.610574722290039, 3.298985004425049))
('test_time', (0.19742798805236816, 0.17015600204467773, 0.16755008697509766, 0.1533522605895996, 0.16202974319458008))
-----------------------
1.3824728468259726

In [14]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':False})
cv_knn_baseline = cross_validate(knn_baseline,data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [15]:
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([1.28372191, 1.28784313, 1.26687414, 1.269523  , 1.2770109 ]))
('test_mae', array([1.01005824, 1.01574522, 0.99885597, 1.00284522, 1.00363719]))
('fit_time', (1.204064130783081, 1.455341100692749, 1.236631155014038, 1.292382001876831, 1.2216713428497314))
('test_time', (0.0868539810180664, 0.10377073287963867, 0.08341670036315918, 0.08535981178283691, 0.08455395698547363))

1.2769946176889864

In [16]:
knn_means = KNNWithMeans(sim_options={'name':'pearson', 'user_based':False})
cv_knn_means = cross_validate(knn_means, data, n_jobs=-1)

In [17]:
for i in cv_knn_means.items():
    print(i)

np.mean(cv_knn_means['test_rmse'])

('test_rmse', array([1.37296982, 1.37972232, 1.36663608, 1.37526229, 1.37578595]))
('test_mae', array([1.08719783, 1.08962   , 1.0813929 , 1.08636488, 1.08715463]))
('fit_time', (3.0358850955963135, 3.411017894744873, 3.2823269367218018, 3.154212236404419, 3.009002923965454))
('test_time', (0.21783900260925293, 0.1361231803894043, 0.1309061050415039, 0.11937785148620605, 0.11777281761169434))

1.374075290624774

In [37]:
df_meta = pd.read_csv('Office_Products.csv')
df_meta.head()

,title,main_cat,asin
0,Sequential Spelling Level 1 Bundle with Studen...,Office Products,0012624861
1,"Mathematics, Applications and Concepts, Course...",Books,0078652669
2,Pearson MyHistoryLab Online Access Code for Am...,Office Products,0136039847
3,A Pocket for Corduroy,Office Products,0140503528
4,Social Entrepreneurship: What Everyone Needs t...,Books,0195396332

In [19]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315458 entries, 0 to 315457
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     315453 non-null  object
 1   main_cat  313475 non-null  object
 2   asin      315458 non-null  object
dtypes: object(3)
memory usage: 7.2+ MB

In [20]:
meta_df = df_meta.rename(columns={"asin" : "product_ID"})
meta_df.head()

,title,main_cat,product_ID
0,Sequential Spelling Level 1 Bundle with Studen...,Office Products,0012624861
1,"Mathematics, Applications and Concepts, Course...",Books,0078652669
2,Pearson MyHistoryLab Online Access Code for Am...,Office Products,0136039847
3,A Pocket for Corduroy,Office Products,0140503528
4,Social Entrepreneurship: What Everyone Needs t...,Books,0195396332

In [21]:
duplicates = meta_df[meta_df.duplicated(subset='title')]
print(len(duplicates))

12516

In [22]:
meta_df.duplicated().value_counts()

False    306617
True       8841
dtype: int64

In [23]:
meta_df = meta_df.drop_duplicates()
meta_df.duplicated().value_counts()

False    306617
dtype: int64

In [24]:
meta_df.isnull().sum()

title            5
main_cat      1983
product_ID       0
dtype: int64

In [25]:
meta_df.dropna(inplace=True)
meta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304629 entries, 0 to 315457
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   title       304629 non-null  object
 1   main_cat    304629 non-null  object
 2   product_ID  304629 non-null  object
dtypes: object(3)
memory usage: 9.3+ MB

In [27]:
def product_rater(df_meta, num, category=None):
    reviewer_ID = 'A5J78T14FJ5DU'
    rating_list = []
    while num > 0:
        if category:
            product = df_meta[df_meta['main_cat'].str.contains(category)].sample(1)
        else:
            product = df_meta.sample(1)
        print(product)
        rating = input('How do you rate this product on a scale of 1-5, press n if you have not used :\n')
        if rating == 'n':
            continue
        else:
            rating_one_product = {'reviewer_Id':reviewer_ID,
                                  'product_ID':product['product_ID'].values[0],
                                  'rating':rating}
            rating_list.append(rating_one_product) 
            num -= 1
    return rating_list

In [28]:
user_rating = product_rater(meta_df, 4, 'Books')

                                       title main_cat  product_ID
2866  Rat Terriers - 2017 Calendar 12 x 12in    Books  1465056092
How do you rate this product on a scale of 1-5, press n if you have not used :
5
                                               title main_cat  product_ID
2811  Miniature Dachshunds - 2017 Calendar 12 x 12in    Books  146505572X
How do you rate this product on a scale of 1-5, press n if you have not used :
4
                                             title main_cat  product_ID
2010  Elvis Presley the Gospel Years 2010 Calendar    Books  1423802454
How do you rate this product on a scale of 1-5, press n if you have not used :
3
                              title main_cat  product_ID
2029  2011  Princess  Wall Calendar    Books  1423803957
How do you rate this product on a scale of 1-5, press n if you have not used :
2

In [29]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = df_new.append(user_rating, ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df[["reviewer_ID", "product_ID", "rating"]], reader)

In [30]:
# train a model using the new combined DataFrame
svd_ = SVD(n_factors=20, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [31]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (product_id, predicted_score)
list_of_products = []
for p_id in df_new['product_ID'].unique():
    list_of_products.append((p_id, svd_.predict('A5J78T14FJ5DU', p_id)[3]))

In [32]:
# order the predictions from highest to lowest rated
ranked_products = sorted(list_of_products, key=lambda x:x[1], reverse=True)

In [76]:
# return the top n recommendations using the 
def recommended_products(user_ratings, product_df, n):
        for idx, rec in enumerate(user_ratings):
            title = product_df.loc[product_df['product_ID'] == str(rec[0])]['title']
            print('Recommendation # ', idx+1, ': ', title, '\n')
            n-= 1
            if n == 0:
                break
            
recommended_products(ranked_products, meta_df, 10)

Recommendation #  1 :  813    Perfect Timing - Lang 2013 Linda Nelson Stocks...
Name: title, dtype: object

Recommendation #  2 :  10525    HP Q1397A Designjet Large Format Universal Bon...
Name: title, dtype: object

Recommendation #  3 :  Series([], Name: title, dtype: object)

Recommendation #  4 :  10469    Sharp QS-2130 Twin Powered Display 12 Digit
Name: title, dtype: object

Recommendation #  5 :  11361    Avery 74171 Multi-Page Top-Load Sheet Protecto...
Name: title, dtype: object

Recommendation #  6 :  4740    Jesus "Prince of Peace" 2013 Wall Calendar ~ A...
Name: title, dtype: object

Recommendation #  7 :  215    Standard Pocket Chart
Name: title, dtype: object

Recommendation #  8 :  10772    ILFORD Galerie Professional Inkjet 8.5X11-100 ...
Name: title, dtype: object

Recommendation #  9 :  12295    Staedtler(R) Lumocolor CD Markers, Pack Of 4
Name: title, dtype: object

Recommendation #  10 :  12242    Paper Mate Pink Pearl Erasers, Medium, 3 Count...
Name: title, dtype: object

In [99]:
# import necessary libraries
from pyspark.sql import SparkSession

# instantiate SparkSession object
#spark = SparkSession.builder.master('local').getOrCreate()

spark = SparkSession\
        .builder\
        .appName('ALSExample').config('spark.driver.host', 'localhost')\
        .getOrCreate()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:59169)
Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 61] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:59169)

In [91]:
df = spark.read.csv('ratings_Office_Products.csv', header='false', inferSchema='true')
df = df.withColumnRenamed("_c0","reviewer_ID").withColumnRenamed("_c1","product_ID")\
       .withColumnRenamed("_c2","rating").withColumnRenamed("_c3","time")
df.dtypes

[('reviewer_ID', 'string'),
 ('product_ID', 'string'),
 ('rating', 'double'),
 ('time', 'int')]

In [92]:
df = df.drop('time')

In [93]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

indexers = [StringIndexer(inputCol="reviewer_ID", outputCol="reviewer_Index"),
            StringIndexer(inputCol="product_ID", outputCol="product_Index")]

pipeline = Pipeline(stages=indexers)
df_ind = pipeline.fit(df).transform(df)

df_ind.show()

+--------------+----------+------+--------------+-------------+
|   reviewer_ID|product_ID|rating|reviewer_Index|product_Index|
+--------------+----------+------+--------------+-------------+
|A2UESEUCI73CBO|0078800242|   5.0|      112059.0|      71702.0|
|A3BBNK2R5TUYGV|0113000316|   5.0|      621354.0|      51103.0|
| A5J78T14FJ5DU|0113000316|   3.0|       26236.0|      51103.0|
|A2P462UH5L6T57|043928631X|   5.0|      500720.0|      71703.0|
|A2E0X1MWNRTQF4|0439340039|   1.0|      440389.0|      71704.0|
| AAYGDWCI3LDQP|0439394058|   5.0|      773301.0|       7676.0|
| AI7SARYVM8FGA|0439394058|   4.0|      812965.0|       7676.0|
|A1BUVOGGFTGMBN|0439394058|   2.0|       69256.0|       7676.0|
|A35UM9B38X7AYS|0439394058|   5.0|      591612.0|       7676.0|
| AM2U8KJROWYKR|0439394058|   4.0|      833941.0|       7676.0|
|A1V1VJ3W1SYJU0|0439394058|   5.0|      336944.0|       7676.0|
|A2GLL6RNXXGBCM|0439394058|   5.0|      454559.0|       7676.0|
|A1I4RQ7F65L5VZ|0439394058|   4.0|      266247.0|       7676.0|
|A39L54MWP4C86L|0439394058|   5.0|       47334.0|       7676.0|
| AYVV0R6U3HRIR|0439394058|   2.0|       59592.0|       7676.0|
|A2VBRY9MELAPYT|0439394058|   5.0|      534033.0|       7676.0|
|A3340VCHPJTEC8|0439394058|   5.0|       45879.0|       7676.0|
|A1U3WTFJZO6CJL|0439394058|   5.0|      331742.0|       7676.0|
|A1LSX9PO1Q2XF1|0439394058|   5.0|       33913.0|       7676.0|
|A33X18AKYV9GBB|0439394058|   5.0|      580973.0|       7676.0|
+--------------+----------+------+--------------+-------------+
only showing top 20 rows

In [94]:
df_ind.dtypes

[('reviewer_ID', 'string'),
 ('product_ID', 'string'),
 ('rating', 'double'),
 ('reviewer_Index', 'double'),
 ('product_Index', 'double')]

In [98]:
from pyspark.ml.evaluation import RegressionEvaluator

from pyspark.ml.recommendation import ALS

# split into training and testing sets
(training, test) = df_ind.randomSplit([0.8, 0.2])

# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, rank=4, regParam=0.01, userCol='reviewer_Index', itemCol='product_Index', ratingCol='rating',
          coldStartStrategy='drop')

# fit the ALS model to the training set
model = als.fit(training)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:59169)
Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 1193, in send_command
    self.socket.sendall(command.encode("utf-8"))
BrokenPipeError: [Errno 32] Broken pipe

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 1033, in send_command
    response = connection.send_command(command)
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 1196, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/olga/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 61] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:59169)